<div id="<%= dom_id user %>">
  <p>
    <strong>Nickname:</strong>
    <%= user.nickName %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.eMail %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= user.phoneNumber %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= user.login %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

</div>
