<div id="<%= dom_id forum_post %>">
  <p>
    <strong>Id user:</strong>
    <%= forum_post.ID_User %>
  </p>

  <p>
    <strong>Id role:</strong>
    <%= forum_post.ID_Role %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= forum_post.content %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= forum_post.description %>
  </p>

  <p>
    <strong>Ishandbook:</strong>
    <%= forum_post.isHandBook %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= forum_post.title %>
  </p>

</div>
