<p style="color: green"><%= notice %></p>

<%= render @forum_post %>

<div>
  <%= link_to "Edit this forum post", edit_forum_post_path(@forum_post) %> |
  <%= link_to "Back to forum posts", forum_posts_path %>

  <%= button_to "Destroy this forum post", @forum_post, method: :delete %>
</div>
