<div id="<%= dom_id repair_offer %>">
  <p>
    <strong>Id user:</strong>
    <%= repair_offer.ID_User %>
  </p>

  <p>
    <strong>Id forumpost:</strong>
    <%= repair_offer.ID_ForumPost %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= repair_offer.content %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= repair_offer.description %>
  </p>

</div>
